.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-btn-top{
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 16px;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
}
.my-btn-top:hover{
  background-color: #4CAF50;
  color: white;
}

.my-btn-bottom{
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 2px solid #d4101a;
  margin-top:20px;
}
.my-btn-bottom:hover{
  background-color: #d4101a;
  color: white;
}
.image-top{
height:100px;
width:100px;
margin-top:20px;
border-radius: 50%;
animation: rotation 20s infinite linear;
}
.image-bottom{
  height:100px;
  width:100px;
  border-radius: 50%;
  animation: rotation-reverse 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation-reverse {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}